# ==================================================
# Web Framework
# ==================================================

fastapi==0.116.1
uvicorn[standard]==0.35.0
gradio==5.40.0

# ==================================================
# LangChain
# ==================================================

langchain==0.3.27
langchain-core==0.3.76
langchain-community==0.3.27
langgraph==0.6.6
langchain-groq==0.3.8
langchain-huggingface==0.3.1
langchain-qdrant==0.2.0

# ==================================================
# LLM
# ==================================================

groq==0.31.0

# ==================================================
# Vector Database
# ==================================================

qdrant-client==1.15.1

# ==================================================
# Embeddings
# ==================================================

sentence-transformers==5.0.0
transformers==4.54.1
torch>=2.6.0

# ==================================================
# Gmail API
# ==================================================

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

# ==================================================
# PDF
# ==================================================

pypdf

# ==================================================
# Tokenizer
# ==================================================

tiktoken

# ==================================================
# Environment
# ==================================================

python-dotenv

# ==================================================
# Utilities
# ==================================================

requests
numpy
pandas
pydantic
tqdm
Pillow
