fastapi>=0.116.0
uvicorn[standard]>=0.35.0
gradio>=5.40.0

langgraph
langchain
langchain-community

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

groq

qdrant-client

python-dotenv

requests

pydantic

pandas

numpy
